<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>404 Not Found</title>
    <link
      href="https://ssdevelopers.xyz/src/style/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="script.js"></script>
  </head>
  <body>
    <header class="p404__header">
      <div class="p404__header--logo-wrapper">
        <img
          class="p404__header--logo"
          src="https://ssdevelopers.xyz/src/img/ssl.png"
          alt="Logo"
        />
      </div>
      <h1 class="p404__header--title">404 Not Found</h1>
    </header>

    <section class="p404__wrapper-content">
      <div class="p404__wrapper-content--content">
        <p>
          <strong> hmmm... </strong><br />
          Seem likes this URL does not exists
        </p>
        <a href="/">
          <button class="btn dark-btn">Go Back? &larr;</button>
        </a>
      </div>
    </section>
  </body>
</html>
