@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
:root {
  --background-color: #eeeeee;
  --font-color: #000;
  --gray-light-1: #e9e6e6;
  --gray-light-2: #e3e3e3;
  --gray-light-3: #dfdfdf;
  --gray-light-4: #ebebeb;
  --gray-dark-1: #c4c4c4;
  --gray-dark-2: #acacac;
  --modal-background: #e0e0e0;
  --ss-red: #fd5252; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 60%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 60%; } }

body {
  box-sizing: border-box;
  background-color: var(--background-color);
  min-height: 100vh;
  font-family: "Ubuntu", "Noto Sans Thai", sans-serif;
  color: var(--font-color);
  overflow: "hidden"; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.separator {
  margin: 4rem 0;
  border: 0.5px solid var(--gray-light-3); }

main {
  padding: 4rem; }
  @media only screen and (max-width: 56.25em) {
    main {
      padding: 2rem; } }

h1 {
  font-size: 3rem; }

p {
  font-size: 1.5rem; }

.u-remove-a-eff {
  text-decoration: none;
  color: #000; }

.blocks {
  display: grid;
  grid-template-rows: 60vh 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "timetables timetables" "pride github";
  gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .blocks {
      grid-template-rows: 40vh 40vh 40vh;
      grid-template-columns: 100%;
      grid-template-areas: "timetables" "pride" "github"; } }

.block {
  border: 1px solid var(--gray-dark-1);
  border-radius: 1.1rem;
  padding: 3rem; }

.timetablesBlock {
  background-color: #ededed;
  position: relative;
  overflow: hidden;
  grid-area: timetables; }
  .timetablesBlock object {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1.1rem 0rem 0rem 0rem; }
    @media only screen and (max-width: 56.25em) {
      .timetablesBlock object {
        right: 50% !important;
        transform: translateX(50%);
        width: 90% !important; } }
    @media only screen and (max-width: 75em) {
      .timetablesBlock object {
        right: -10%;
        width: 75%; } }
  .timetablesBlock__text {
    width: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .timetablesBlock__text {
        width: 100%; } }
    .timetablesBlock__text h1 {
      font-size: 5rem;
      color: #363636; }
    .timetablesBlock__text p {
      font-size: 2rem; }
  .timetablesBlock__buttons {
    position: absolute;
    bottom: 3.5rem;
    left: 3.5rem;
    display: flex;
    gap: 2rem; }
    .timetablesBlock__buttons button,
    .timetablesBlock__buttons a {
      display: grid;
      place-items: center;
      font-family: "Ubuntu";
      background: #f1f1f1;
      border-radius: 1.1rem;
      font-size: 1.7rem;
      border: none;
      padding: 2rem;
      transition: all 0.2s;
      box-shadow: 0 0 4.8rem #00000010; }
      .timetablesBlock__buttons button:hover,
      .timetablesBlock__buttons a:hover {
        background-color: #fff;
        transform: scale(1.075); }
      .timetablesBlock__buttons button:active,
      .timetablesBlock__buttons a:active {
        transform: scale(0.7); }

.prideBlock {
  grid-area: pride;
  background: url("/icons/rainbow.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column; }
  .prideBlock h1 {
    font-size: 8rem;
    color: #fff;
    text-shadow: 0 0 1rem #f2f2f2; }
    @media only screen and (max-width: 56.25em) {
      .prideBlock h1 {
        font-size: 7rem; } }
  .prideBlock__bottom {
    margin-top: auto;
    width: 100%;
    gap: 2rem;
    height: fit-content;
    border-radius: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .prideBlock__bottom p {
      padding: 2rem;
      border-radius: 1.1rem;
      background-color: #f1f1f1;
      border: 1px solid var(--gray-dark-1);
      backdrop-filter: blur(1.1rem);
      color: #000; }
      @media only screen and (max-width: 56.25em) {
        .prideBlock__bottom p {
          font-size: 1.3rem; } }
    .prideBlock__bottom button {
      font-family: "Ubuntu";
      background: #f1f1f1;
      border-radius: 1.1rem;
      font-size: 1.7rem;
      border: none;
      padding: 2rem;
      transition: all 0.2s;
      box-shadow: 0 0 4.8rem #00000010; }
      .prideBlock__bottom button:hover {
        background-color: #fff;
        transform: scale(1.075); }
      .prideBlock__bottom button:active {
        transform: scale(0.7); }

.githubBlock {
  grid-area: github;
  background-color: #363636;
  color: #fff; }
  .githubBlock h1 {
    font-size: 6rem;
    display: flex;
    flex-direction: column; }
    .githubBlock h1 span {
      font-weight: 500;
      font-size: 2rem; }

.header {
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative; }
  .header__text {
    width: 40vw;
    position: absolute;
    left: 10rem;
    bottom: 50%;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .header__text {
        left: 4rem;
        top: 4rem;
        bottom: auto;
        width: 100vw; } }
    .header__text--links {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem; }
    .header__text p {
      font-size: 2rem; }
    .header__text h1 {
      font-size: 6rem;
      width: 90%; }
      @media only screen and (min-width: 112.5em) {
        .header__text h1 {
          width: 35vw;
          font-size: 7rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__text h1 {
          font-size: 5rem;
          width: 100%; } }
    .header__text a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.2s;
      border-radius: 0.5rem;
      width: fit-content;
      position: relative; }
      .header__text a i::after {
        transform: scaleX(1);
        transform-origin: bottom left; }
      .header__text a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out; }
      .header__text a:hover {
        background-color: var(#ffffff); }
      .header__text a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left; }
  .header i {
    transition: all 0.2s; }
    .header i:active {
      font-size: 2rem; }
  .header__imageGroup {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10vw;
    height: 65%;
    width: 45%; }
    @media only screen and (max-width: 75em) {
      .header__imageGroup {
        height: 50%;
        width: 40%; } }
    @media only screen and (max-width: 56.25em) {
      .header__imageGroup {
        bottom: 30%;
        width: 80%;
        height: 35% !important; } }
    .header__imageGroup--img1 {
      position: absolute;
      top: 0;
      right: 0;
      height: 15vw;
      z-index: 2;
      transition: all 0.2s;
      color: #fff; }
      @media only screen and (max-width: 56.25em) {
        .header__imageGroup--img1 {
          height: 20vh; } }
      .header__imageGroup--img1:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05); }
    .header__imageGroup--img2 {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 23vw;
      transition: all 0.2s;
      color: #fff; }
      @media only screen and (max-width: 56.25em) {
        .header__imageGroup--img2 {
          height: 20vh; } }
      .header__imageGroup--img2:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05); }
    .header__imageGroup--singleImg {
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.2s;
      color: #fff;
      width: 45vw; }
      .header__imageGroup--singleImg:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05); }
    .header__imageGroup img {
      border-radius: 1.1rem;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2); }
  .header__leftIcon {
    position: absolute;
    bottom: 50%;
    left: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff; }
    @media only screen and (max-width: 56.25em) {
      .header__leftIcon {
        bottom: 55%; } }
  .header__rightIcon {
    position: absolute;
    bottom: 50%;
    right: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff; }
    @media only screen and (max-width: 56.25em) {
      .header__rightIcon {
        bottom: 55%; } }
  .header__inactiveIcon {
    color: #ffffff70; }

.nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1.1rem; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      padding: 0rem; } }
  .nav img {
    height: 4rem; }
  .nav i {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    font-size: 4rem;
    text-decoration: none;
    position: relative;
    margin-left: auto;
    border-radius: 1.1rem;
    transition: all 0.2s;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .nav i {
        display: block; } }
  .nav__links {
    display: flex;
    gap: 2rem;
    align-items: center; }
    .nav__links a {
      color: #fff;
      font-size: 1.7rem;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      padding: 1rem;
      border-radius: 1.1rem;
      transition: all 0.2s; }
      @media only screen and (max-width: 56.25em) {
        .nav__links a {
          display: none; } }
      .nav__links a:hover {
        background-color: #ffffff30; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%;
  background-color: var(--gray-light-2);
  z-index: 1000; }
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    color: var(--font-color);
    transition: all 0.2s; }
    @media only screen and (max-width: 56.25em) {
      footer li {
        margin-bottom: 1rem; } }
  footer a:hover > li {
    text-decoration: underline; }
  footer a {
    color: var(--font-color);
    text-decoration: none;
    transition: color 0.5s;
    transition: all 0.2s; }
  footer h3 {
    color: var(--font-color); }
