.headline {
  &__system13 {
    position: relative;
    overflow: hidden;

    &:hover img {
      filter: blur(10px);
    }
    img {
      height: 100%;
      width: 100%;
      transition: all 0.4s;
      object-fit: cover;

      // Blur here!
    }
  }

  &__sys13-text {
    position: absolute;
    left: 38.5vw;
    top: 97.5vh;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
    transform: translateX(2rem) scale(0.9);
    background-color: $gray-dark-1;
    padding: 3rem;
    border-radius: 15px;

    @include respond(phone) {
      position: absolute;
      top: 85vh;
      left: 13vw;
      opacity: 1;
      transform: translateX(-2rem) scale(1);
      width: 80vw;
    }

    &:hover {
      opacity: 1;
      transform: translateX(-2rem) scale(1);
    }

    &--btn {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }

    h3 {
      font-size: 5rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 2rem;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__system13:hover + &__sys13-text {
    opacity: 1;
    transform: translateX(-2rem) scale(1);
  }

  &__dev-news:hover + &__dev-text {
    opacity: 1;
    transform: translateX(2rem) scale(1);
  }

  // &__news-snippet {
  // }

  // &__news-text-wrapper {

  // }

  &__dev-news {
    position: relative;
    overflow: hidden;

    &:hover img {
      filter: blur(10px);
    }
    img {
      height: 100%;
      width: 100%;
      transition: all 0.4s;
      object-fit: cover;
    }
  }

  &__dev-text {
    position: absolute;
    left: 3vw;
    top: 180vh;
    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
    transform: translateX(-2rem) scale(0.9);
    background-color: $gray-dark-1;
    padding: 3rem;
    border-radius: 15px;

    @include respond(phone) {
      position: absolute;
      top: 160vh;
      left: 13vw;
      opacity: 1;
      transform: translateX(-2rem) scale(1);
      width: 80vw;
    }

    &:hover {
      opacity: 1;
      transform: translateX(2rem) scale(1);
    }

    &--btn {
      position: absolute;
      bottom: 5%;
      right: 5%;
    }

    h3 {
      font-size: 5rem;
      margin-bottom: 2rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }
    p {
      font-size: 2rem;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
}

// For Js
.headline__system13,
.headline__dev-text {
  transition: all 0.4s;
  animation-delay: 1s;
}
