<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./src/img/icon.png" />
    <link rel="stylesheet" href="./src/style/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Portal | Home</title>
  </head>
  <body>
    <section id="home"></section>
    <nav>
      <div class="logo">
        <img src="./src/img/ssl.png" alt="SS System 13 Logo" />
      </div>
      <a href="#"><li class="active nav__1">Home</li></a>
      <a href="./dev.html" class="nav__2"><li>Developers</li></a>
      <a href="./github.html" class="nav__3"><li>Github</li></a>
      <a href="./docs.html" class="nav__4"><li>Docs</li></a>
    </nav>
    <section class="header" id="header">
      <div class="header__wrapper">
        <div class="header__main">
          <h1>Welcome to the SS Developer<br>Portal </h1>

        </div>
        <div class="header__menu">
          <a href="#"><li class="active header__menu--1"><i class='bx bx-code-alt' ></i>&#160 System13</li></a>
          <a href="./dev.html" class="header__menu--2"><li><i class='bx bx-code-alt' ></i>&#160 Developers</li></a>
          <a href="./github.html" class="header__menu--3"><li><i class='bx bxl-github' ></i>&#160 Github</li></a>
          <a href="./docs.html" class="header__menu--4"><li><i class='bx bx-file' ></i>&#160 Docs</li></a>
        </div>
      </div>

    </section>

    <section class="learn-more" id="learnMore">
      <div class="learn-more__odd">
        <div class="big1">
          <img
            class="learnmore-img"
            src="./src/img/sys13.png"
            alt="Valorant White"
          />
        </div>

        <div class="p1">
          <h3>System 13</h3>
          <p>
            System13 is a web-application for doing manual Valorant <br />
            fair team matchmaking. <br />
            Using is as easy as <br />
            inputing team member names. <br />
            <br />
            version 2.1
          </p>
          <a href="https://ssdevelopers.xyz/system13/" class="u-remove-a-eff">
            <button class="btn">Launch Now &rarr;</button>
          </a>

          <button class="small-btn side-btn"><i class='bx bx-file'></i></button>
        </div>
      </div>
      <div class="learn-more__even">
        <div class="p2">
          <h3>VR Valoleague</h3>
          <p>
            VR ValoLeague is where friends compete just for fun in Valorant.
            Currently we do not have a schedule for going live but we are
            definetly coming back soon
          </p>
          <a href="https://www.youtube.com/results?search_query=VR+ValoLeague">
            <button class="btn dark-btn">Go Now &rarr;</button>
          </a>
        </div>
        <div class="big2">
          <img class="learnmore-img" src="./src/img/vrvalo.png" alt="" />
        </div>
      </div>
      <div class="learn-more__odd">
        <div class="big1">
          <img
            class="learnmore-img"
            src="./src/img/devnews.png"
            alt="Valorant White"
          />
        </div>

        <div class="p1">
          <h3>Developers News</h3>
          <p>Get the latest tech News from our Developers here at thailand</p>
          <a href="https://ssdevelopers.xyz/Dev_News/">
            <button class="btn">Launch Now &rarr;</button>
          </a>
        </div>
      </div>
      <div class="learn-more__even">
        <div class="p2">
          <h3>There's more to come!</h3>
          <p>We're and we'll always develope new software and never stop!</p>
          <a href="#home">
            <button class="btn dark-btn">Back to top &uarr;</button>
          </a>
        </div>

        <div class="big2">
          <img class="learnmore-img" src="./src/img/dev.jpg" alt="" />
        </div>
      </div>
    </section>

    <footer>
      <h3>MPL2.0 Lisence &copy;2021 Prawich & Jirat</h3>
      <ul>
        <a href="https://ssdevelopers.xyz"><li>Portals</li></a>
        <a href="./index.html"><li>Home</li></a>
        <a href="./github.html"><li>GitHub</li></a>
        <a href="./docs.html"><li>Documentation</li></a>
        <a href="./system.html"><li>System</li></a>
        <li>Version 2.1</li>
      </ul>
    </footer>
  </body>
  <script src="./src/script/app.js"></script>
</html>
