.nav {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1.1rem;

  img {
    height: 4rem;
  }

  &__blurred {
    padding: 2rem;
    margin: -1rem;
    background-color: #00000030;
    backdrop-filter: blur(1.1rem);
    border: 1px solid #45454570;
  }

  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;

    a {
      color: #fff;
      font-size: 1.7rem;
      font-weight: 500;
      text-decoration: none;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        background-color: var(#ffffff);
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

.separator {
  margin-bottom: 3rem;
  padding-top: 3rem;
  border-bottom: 1px solid var(--gray-dark-1);
}

main {
  padding: 4rem 7rem 3rem 10rem;
}

.projects {
  h3 {
    font-size: 6rem;
    font-weight: 500;
    width: fit-content;
    padding: 1rem 5rem 1rem 2rem;
    border-left: 1rem solid #708df2;
    background-color: #708df230;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__item {
    height: 40rem;
    width: 60rem;
    padding: 2rem;
    border-radius: 1.1rem;
    background-color: var(--gray-light-3);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    img {
      width: 100%;
      border-radius: 1.1rem;
      height: 50%;
      object-fit: cover;
    }
  }
}

.intro {
  width: 100%;

  h3 {
    font-size: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: fit-content;
    background-color: #fd525230;
    padding: 1rem 5rem 1rem 2rem;
    border-left: 1rem solid #fd5252;
  }

  p {
    font-size: 1.8rem;
  }

  &__image {
    overflow: hidden;
    border-radius: 1.1rem;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    height: 40rem;

    &:hover > h4,
    &:hover > &Buttons {
      opacity: 1;
      bottom: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      transition: all 0.5s;
      position: relative;

      &:hover {
        filter: brightness(0.8);
        transform: scale(1.1);
      }
    }

    h4 {
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
      position: absolute;
      font-size: 4rem;
      font-weight: 500;
      z-index: 3;
      bottom: -2rem;
      left: 2rem;
      color: #fff;
      line-height: 3rem;

      span {
        font-weight: 400;
        font-size: 2rem;
      }
    }
  }

  &__images {
    width: 100%;
    // overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 3rem;
  }

  &__imageButtons {
    transition: all 0.3s;
    display: flex;
    position: absolute;
    bottom: -2rem;
    right: 2rem;
    z-index: 4;
    opacity: 0;

    div {
      display: grid;
      place-items: center;
      border-radius: 1.1rem;
      height: 5rem;
      width: 5rem;
      border: 1px solid #444444;
      backdrop-filter: blur(1.1rem);
      background-color: #00000050;
    }

    i {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
    }
  }
}

.header {
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
  // transition: all 0.2s;

  &__text {
    position: absolute;
    left: 10rem;
    bottom: 50%;
    // transform: translateY(50%);
    color: #fff;

    p {
      font-size: 2rem;
    }

    h1 {
      font-size: 6rem;
      width: 40vw;

      @include respond(big-desktop) {
        width: 35vw;
        font-size: 7rem;
      }
    }
  }

  i {
    transition: all 0.2s;

    &:active {
      font-size: 2rem;
    }
  }

  &__imageGroup {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10vw;
    height: 50rem;
    width: 80rem;

    @include respond(tab-land) {
      height: 50%;
      width: 40%;
    }

    // &--img1:hover ~ &--img2 {
    //   transform: scale(0.9);
    // }

    // &--img2:hover ~ &--img1 {
    //   transform: scale(0.9);
    // }

    &--img1 {
      position: absolute;
      top: 0;
      right: 0;
      height: 15vw;
      z-index: 2;
      transition: all 0.2s;
      color: #fff;

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    &--img2 {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 23vw;
      transition: all 0.2s;
      color: #fff;

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    &--singleImg {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 27vw;
      transition: all 0.2s;
      color: #fff;

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    img {
      border-radius: 1.1rem;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    }
  }

  &__leftIcon {
    position: absolute;
    bottom: 50%;
    left: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff;
  }

  &__rightIcon {
    position: absolute;
    bottom: 50%;
    right: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff;
  }

  &__inactiveIcon {
    color: #ffffff70;
  }
}
