.blocks {
  display: grid;
  grid-template-rows: 60vh 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "timetables timetables"
    "pride github";
  gap: 2rem;
}

.timetablesBlock {
  background-color: #ededed;
  border: 1px solid var(--gray-dark-1);
  border-radius: 1.1rem;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  grid-area: timetables;

  object {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 85%;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    border-radius: 1.1rem 0rem 0rem 0rem;
  }

  &__text {
    width: 30%;
    display: flex;
    gap: 1rem;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      color: #363636;
    }

    p {
      font-size: 2rem;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 3.5rem;
    left: 3.5rem;
    display: flex;
    gap: 2rem;

    button {
      font-family: "Ubuntu";
      padding: 2rem;
      border: none;
      border-radius: 1.1rem;
      background-color: #fff;
      font-size: 1.7rem;
      font-weight: 600;
      // box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
      //   border: solid 0.1rem var(--gray-dark-1);
      transition: all 0.2s;

      &:hover {
        transform: scale(1.075);
        // border: ;
        box-shadow: 0 0 2rem #fff;
      }

      &:active {
        transform: scale(0.7);
      }
    }
  }
}

.prideBlock {
  grid-area: pride;
  padding: 3rem;
  border: 1px solid var(--gray-dark-1);
  background: rgb(255, 151, 150);
  background: linear-gradient(
    135deg,
    rgba(255, 151, 150, 1) 0%,
    rgba(255, 200, 99, 1) 16%,
    rgba(245, 255, 94, 1) 37%,
    rgba(185, 252, 157, 1) 51%,
    rgba(165, 233, 252, 1) 70%,
    rgba(195, 154, 255, 1) 100%
  );
  object-fit: cover;
  border-radius: 1.1rem;

  h1 {
    font-size: 8rem;
    color: #fff;
    text-shadow: 0 0 1rem #f2f2f2;
  }
}

.githubBlock {
  grid-area: github;
}
