.projects {
  h3 {
    font-size: 6rem;
    font-weight: 500;
    width: fit-content;
    padding: 1rem 5rem 1rem 2rem;
    border-left: 1rem solid #708df2;
    background-color: #708df230;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    gap: 2rem;
  }

  &__item {
    height: 35rem;
    width: 60rem;
    padding: 2rem;
    border-radius: 1.1rem;
    background-color: var(--gray-light-3);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    h4 {
      font-size: 3.5rem;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      border-bottom: 1px solid #c9c9c9;

      span {
        font-weight: 500;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        color: #fd5252;
      }
    }
  }

  &__image {
    height: 100%;
    transition: all 0.2s;
    display: flex;
    gap: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      height: 100%;
      // width: 100%;
      border-radius: 1.1rem;
      transition: all 0.2s;

      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
  }
}
