.header {
  height: 85vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
  // transition: all 0.2s;

  &__text {
    width: 40vw;
    position: absolute;
    left: 10rem;
    bottom: 50%;
    // transform: translateY(50%);
    color: #fff;

    @include respond(phone) {
      left: 4rem;
      top: 4rem;
      bottom: auto;
      width: 100vw;
    }

    &--links {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;
    }

    p {
      font-size: 2rem;
    }

    h1 {
      font-size: 6rem;
      width: 90%;

      @include respond(big-desktop) {
        width: 35vw;
        font-size: 7rem;
      }

      @include respond(phone) {
        font-size: 5rem;
        width: 100%;
      }
    }

    a {
      color: #fff;
      font-size: 2rem;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.2s;
      border-radius: 0.5rem;
      width: fit-content;
      position: relative;

      i {
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        background-color: var(#ffffff);
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  i {
    transition: all 0.2s;

    // @include respond(phone) {
    //   display: none;
    // }

    &:active {
      font-size: 2rem;
    }
  }

  &__imageGroup {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 10vw;
    height: 65%;
    width: 45%;

    @include respond(tab-land) {
      height: 50%;
      width: 40%;
    }

    @include respond(phone) {
      bottom: 30%;
      width: 80%;
      height: 35% !important;
    }

    // &--img1:hover ~ &--img2 {
    //   transform: scale(0.9);
    // }

    // &--img2:hover ~ &--img1 {
    //   transform: scale(0.9);
    // }

    &--img1 {
      position: absolute;
      top: 0;
      right: 0;
      height: 15vw;
      z-index: 2;
      transition: all 0.2s;
      color: #fff;

      @include respond(phone) {
        height: 20vh;
      }

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    &--img2 {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 23vw;
      transition: all 0.2s;
      color: #fff;

      @include respond(phone) {
        height: 20vh;
      }

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    &--singleImg {
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.2s;
      color: #fff;
      width: 45vw;

      &:hover {
        z-index: 2;
        outline: 5px solid #ffffff50;
        outline-offset: 1rem;
        transform: scale(1.05);
      }
    }

    img {
      border-radius: 1.1rem;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
    }
  }

  &__leftIcon {
    position: absolute;
    bottom: 50%;
    left: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff;

    @include respond(phone) {
      bottom: 55%;
    }
  }

  &__rightIcon {
    position: absolute;
    bottom: 50%;
    right: 3rem;
    font-size: 4rem;
    transform: translateY(50%);
    color: #ffffff;

    @include respond(phone) {
      bottom: 55%;
    }
  }

  &__inactiveIcon {
    color: #ffffff70;
  }
}
